{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/stylistic"
    ],
    "env": {
        "jest": true,
        "node": true
    },
    "rules": {
        "strict": ["error", "global"],
        "@typescript-eslint/no-extra-non-null-assertion": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module"
    }
}
